<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="common/header :: header"/>
<body>
<div class="container-fluid">
    <h1>Register</h1>
    <form th:action="@{register}" method="post">
        <div th:object="${user}">
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid Input!
            </div>
            <div class="row mb-3">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" th:name="email" class="form-control" id="inputEmail" required="true">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" th:name="password" class="form-control" id="inputPassword" required="true">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputFirstname" class="col-sm-2 col-form-label">Firstname</label>
                <div class="col-sm-10">
                    <input type="text" th:name="firstname" class="form-control" id="inputFirstname" required="true">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputLastname" class="col-sm-2 col-form-label">Lastname</label>
                <div class="col-sm-10">
                    <input type="text" th:name="lastname" class="form-control" id="inputLastname" required="true">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPhonenumber" class="col-sm-2 col-form-label">Phonenumber</label>
                <div class="col-sm-10">
                    <input type="text" th:name="phoneNumber" class="form-control" id="inputPhonenumber" required="true">
                </div>
            </div>
        </div>
        <div th:object="${address}">
            <div class="row mb-3">
                <label for="inputhousenumberAndStreet" class="col-sm-2 col-form-label">Street + Housenumber</label>
                <div class="col-sm-10">
                    <input type="text" th:name="streetAndHousenumber" class="form-control" id="inputhousenumberAndStreet" required="true">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputLocation" class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-10">
                    <input type="text" th:name="location" class="form-control" id="inputLocation" required="true">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPostcode" class="col-sm-2 col-form-label">Postcode</label>
                <div class="col-sm-10">
                    <input type="text" th:name="postcode" class="form-control" id="inputPostcode" required="true">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputCountry" class="col-sm-2 col-form-label">Country</label>
                <div class="col-sm-10">
                    <input type="text" th:name="country" class="form-control" id="inputCountry" required="true">
                </div>
            </div>
        </div>

        <div class="row mb-3" th:object="${isClub}">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" th:name="checked">

                    <label class="form-check-label" for="gridCheck1">
                        Club
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputClubname" class="col-sm-2 col-form-label">Clubname</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputClubname" th:name="clubname">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</body>
</html>